@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Min side</a>
    <a class="py-2 d-none d-md-inline-block" asp-area="Identity" asp-page="/Account/Logout">Logg ut</a>
}
else
{
    <a class="py-2 d-none d-md-inline-block" asp-area="Identity" asp-page="/Account/Login">Logg inn</a>
}
</ul>